<div class="card-parentContainer margintop10">
    <div class="margintop30" ng-repeat="item in expenseArray track by $index" id="expense{{$index}}">
        
            <div class="card-childContainer  noBorder-radius" ng-class="{'newItemBorder': $index == addExpenseObj && $index != 0,'copyItem': $index == copyExpenseObj && $index != 0}">
                <form class="form-horizontal input-items" action="/action_page.php" form-on-change="formChange()" name="expeseform">
                    <!--<div class="row">-->
                        <div layout="row" layout-wrap>

                            <div flex="20" class="debrief-items-NC" style="max-width:16%;">
                                <label flex="100" class="label-my" translate="{{item.expenseDefault.date.title}}"></label>

                                <div flex="100">
                                    <div class='input-group date' id='datePickerDate' ng-model="item.date.value">
                                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                                               ng-model="item.Date" is-open="item.calendarOpened"
                                               datepicker-options="dateOptions" ng-required="true" close-text="Close"
                                               alt-input-formats="altInputFormats" ng-change="setDuration($index)" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default custom-debrief-item" style="border-color:#ccc !important"
                                                    ng-click="openCalendar(item,'Expenses')">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div flex="20" class="debrief-items-NC" style="max-width:20%;">

                                <label flex="100" class="label-my" for="expense-type"
                                       translate="{{item.expenseDefault.expenseType.title}}"></label><span style="color:red">*</span>
                                <div flex="100">
                                    <select class="form-control select-debrief" ng-required="true" name="expensetype"
                                            id="expense-type"
                                            ng-model="item.Expense_Type"
                                            ng-options="x as x.Value | translate for x  in item.expenseDefault.expenseType.values track by x.ID" ng-change="setExpenseItem(item)">
                                        <option value="" disabled selected>Select Expense Type</option>
                                    </select>
                                </div>
                                <span style="color:red" ng-show="expeseform.expensetype.$error.required">
                                    Please select expense type
                                </span>
                            </div>

                            <div flex="20" class="debrief-items-NC" style="max-width:10%;">
                                <label flex="100" class="label-my" translate="{{item.expenseDefault.amount.title}}"></label>
                                <div flex="100">
                                    <input type="text" class="form-control" ng-model="item.Amount" />

                                </div>
                            </div>


                            <div flex="20" class="debrief-items-NC" style="max-width:12%;">
                                <label flex="100" class="label-my"
                                       translate="{{item.expenseDefault.currency.title}}"></label>
                                <div flex="100">
                                    <select class="form-control select-debrief" ng-model="item.Currency"
                                            ng-options="x as x.Value for x in item.expenseDefault.currency.values track by x.ID" ng-change="setCurrency(item)">
                                        <option value="" disabled selected>Select</option>
                                    </select>
                                </div>
                            </div>

                            <div flex="20" class="debrief-items-NC" style="max-width:18%;">
                                <label flex="100" class="label-my"
                                       translate="{{item.expenseDefault.chargeMethod.title}}"></label>
                                <div flex="100">
                                    <select class="form-control select-debrief" ng-model="item.Charge_Method"
                                            ng-options="x as x.Value | translate for x in item.expenseDefault.chargeMethod.values  track by x.ID" ng-change="setChargeMethodForExpense(item)">
                                        <option value="" disabled selected>Select Charge Method</option>
                                    </select>
                                </div>
                            </div>

                            <div flex="100" style="max-width:24%;">
                                <label flex="100" class="label-my" for="justification" translate="{{item.expenseDefault.justification.title}}"></label>
                                <textarea flex="100" class="form-control  debrief-textarea-NC " rows="5" id="justification"
                                          ng-model="item.Justification"></textarea>
                            </div>

                        </div>

                       
                        <!--</div>-->

</form>

            </div>
            <section  layout="row" layout-sm="column" layout-align="center center"
                         layout-wrap class="time-btns" ng-class="{'newItemBorderSection': $index == addExpenseObj && $index != 0,'copyItemSection': $index == copyExpenseObj && $index != 0}">
                <span style="visibility:hidden">{{ $root.expenseformValid = expeseform.$valid}}</span>
                <md-button class="time-font  time-add summary-report-donebtn" ng-click="addObject('Expenses',true,item)" ng-disabled="$root.completedTask || !$root.expenseformValid " translate="Add"></md-button>
                <!--<md-button class="time-font  time-delete" ng-click="deleteObject($index,item,'Expenses')" translate="delete">
                </md-button>-->
                <md-button class="time-font  time-copy summary-report-donebtn" ng-click="copyObject(item,'Expenses')" translate="copy" ng-disabled="$root.completedTask || !$root.expenseformValid "></md-button>
                <md-button class="time-font time-add summary-report-donebtn" translate="NEXT" ng-click="Next('Expenses')"></md-button>
            </section>

       
    </div>
    <div class="card-childContainer marginbottom30" style="margin-top:20px"  ng-if="expenseArraySummary!=undefined && expenseArraySummary.length>0">


        <table class="table no-marbottom noborder">
            <thead>
                <tr class="summary-tr">
                    <th class="noborder width15"><span translate="Date"></span></th>
                    <th class="noborder width15" ><span translate="Expense Type"></span></th>
                    <th class="noborder width15" ><span translate="Amount"></span></th>
                    <th class="noborder width15"><span translate="Currency"></span></th>
                    <th class="noborder width15" ><span translate="Charge Method"></span></th>
                    <th class="noborder width15" ><span translate="Justification"></span></th>
                </tr>
            </thead>
            <tbody>
                <tr class="summary-tr" ng-repeat="expense in expenseArraySummary">
                    <td class="noborder bg-white width15" >{{expense.Date|timezonefilter}}</td>
                    <td class="noborder bg-white width15" >{{expense.Expense_Type.Value | translate}}</td>
                    <td class="noborder bg-white width15" >{{expense.Amount | translate}}</td>
                    <td class="noborder bg-white width15" >{{expense.Currency.Value | translate}}</td>
                    <td class="noborder bg-white width15" >{{expense.Charge_Method.Value |translate}}</td>
                    <td class="noborder bg-white width15" ><div class="summary-description" style="width: 160px;">{{expense.Justification}}</div></td>
                    <td class="noborder bg-white "><img src="images/cancel.png" class="cancelInEquip delete" ng-click="deleteObject($index,'Expenses')" /></td>
                </tr>
            </tbody>
        </table>



    </div>
</div>
