<style>
    .spacer {
        flex: 1 1 auto;
    }
</style>
<md-dialog class="dialog-border">
    <form ng-cloak>
        <md-dialog-content>
            <div class="md-dialog-content material-dialog">

                <div class="row">
                    <label style="margin-left:12px" translate="Select the language to generate the Field Service Report"></label>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <select class="form-control select-debrief" ng-model="selectedLang" style="height:40px"   ng-options="x as x.Value for x in languages  track by x.ID">
                            <option value="" disabled selected translate="Select Language"></option>
                            <!--<option value="">English</option>
                            <option value="">Chinese</option>-->
                        </select>
                    </div>
                    <div class="col-md-1"></div>
                   
                </div>
                <div class="row" style="margin-top:15px;">
                    <div class="col-md-2"></div>
                    <div class="col-md-4" style="padding:0px;padding-right:10px">
                        <button class="engSign-Next" ng-click="selectLang()" translate="ok" ng-disabled="selectedLang=='' || selectedLang==null"></button>
                    </div>
                    <div class="col-md-4">
                        <button class="engSign-Next" style="margin-left: 70px;" ng-click="cancel()" translate="cancel" ></button>
                    </div>
                </div>
               
            </div>
        </md-dialog-content>
        <!--<md-dialog-actions>-->
            <!--<label ng-click="saveData()" translate="OK"></label>
            <label ng-click="cancel()" translate="CANCEL"></label>-->
            <!--<button md-button class="debrief-btn" ng-click="saveData()">OK</button>-->
           
        <!--</md-dialog-actions>-->

    </form>
</md-dialog>
