<style>
    .spacer {
        flex: 1 1 auto;
    }
</style>

<md-dialog class="dialog-border">

    <form ng-cloak>

        <md-dialog-content>

            <div class="md-dialog-content material-dialog">

                <div class="col-sm-12" style="text-align:center">
                    <label>You are Offline</label>
                </div>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10"><button md-button class="debrief-btn" ng-click="ok()" translate="ok"></button>
                    </div>
                    
                </div>

            </div>

        </md-dialog-content>

        <!--<md-dialog-actions>

            <button md-button class="debrief-btn" ng-click="save()">OK</button>

            <span class="spacer"></span>

            <button md-button class="debrief-btn" ng-click="cancel()" style="background-color:#f0f0f0 !important;color:#283d3f !important;">CANCEL</button>

        </md-dialog-actions>-->

    </form>

</md-dialog>
